 <% if @games.any? %>
  Your Games

  <ul>
    <% @games.each do |game| %>
      <li><%= link_to game.title, game %></li>
    <% end %>
  </ul>
<% else %>
  Start your first game!
<% end %>

<%= link_to 'New Game', new_game_path, class: 'button' %>
